@using SummerCamp.DataModels.Models;
@model IEnumerable<PlayerViewModel>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/player_style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .button-1 {
            background-color: #92AD40;
            border-radius: 8px;
            border-style: none;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            height: 40px;
            padding: 10px 16px;
            text-align: center;
            text-decoration: none;
            transition: color 100ms;
            touch-action: manipulation;
            margin-left: 780px;
            margin-top: 20px;
        }

        .button-1:hover,
        .button-1:focus {
            background-color: #879f3e;
        }
    </style>
</head>
<body>
    <button class="button-1" onclick="location.href='@Url.Action("Create", "Player")'">Creaza jucator</button>

    <div class="grid-container">
        @foreach (var item in Model)
        {
            <div class="grid-item">
                <div class="column left">
                    <div class="image-container">
                        <div class="tag">Player</div>
                        <img src="~/assets//uploads/@item.Picture" class="coach-image">
                    </div>
                </div>
                <div class="column middle">
                    <div class="info">
                        <h1>@item.Name</h1>
                        @if (item.Country != null && item.Country.Flag != null)
                        {
                            <div class="country-details">
                                <div>
                                    <img src="~/assets//uploads/@item.Country.Flag" class="country-flag">
                                </div>
                                <div>
                                    <h2 class="country-name">@item.Country.Name</h2>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="country-details">
                                <div>
                                    <img src="~/assets//uploads/clearflag.png" class="country-flag">
                                </div>
                                <div>
                                    <h2 class="country-name">Unknown</h2>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <h2 class="coach_info">Birth date: @item.BirthDate.Value.ToString("dd/MM/yyyy")</h2>
                        </div>
                        <div class="row">
                            <h2 class="coach_info">Address: @item.Address</h2>
                        </div>
                        <div class="row">
                            <h2 class="coach_info">Shirt number: @item.ShirtNumber</h2>
                        </div>

                        <div class="row">
                            @if (@item.Team == null)
                            {
                                <h2 class="coach_info">Without team</h2>
                            }
                            else
                            {
                                <h2 class="coach_info">Current Team: @item.Team.Name</h2>
                            }
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="kebab-menu">
                        <i class="more-icon glyphicon glyphicon-option-vertical" style="font-size: 16pt;" id="more-icon-@item.Id" onclick="openMenu(@item.Id)"></i>
                        <div class="menu-options" id="menu-options-@item.Id">
                            <ul>
                                <li class="nav-item">
                                    <a asp-action="Edit" asp-controller="Player" asp-route-id="@item.Id">Editeaza</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Delete" asp-controller="Player" asp-route-id="@item.Id">Sterge</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
@section scripts {

    <script>
        function openMenu(id) {
            var menuOptions = document.getElementById("menu-options-" + id);

            menuOptions.style.display = (menuOptions.style.display === 'block') ? 'none' : 'block';
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.addEventListener('click', function (event) {
                var menuOptionsList = document.querySelectorAll('.menu-options');

                menuOptionsList.forEach(menuOptions => {
                    var id = menuOptions.id.replace('menu-options-', '');

                    var moreIcon = document.getElementById("more-icon-" + id);


                    if (!moreIcon.contains(event.target) && !menuOptions.contains(event.target)) {
                        menuOptions.style.display = 'none';
                    }
                });
            });
        });

    </script>

}
</html>