@using SummerCamp.DataModels.Models;
@model IEnumerable<CoachViewModel>

@{
	ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/coach_style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <button class="button-1" onclick="location.href='@Url.Action("Create", "Coach")'">Creaza antrenor</button>
    <h1 style="text-align: center">Coaches</h1>
    <hr />

    <div class="grid-container">
        @foreach (var item in Model)
        {
            <div class="grid-item">
                <div class="column left">
                    <div class="image-container">
                        <div class="tag">Coach</div>
                        <img src="~/assets//uploads/@item.Picture" class="coach-image">
                    </div>
                </div>
                <div class="column middle">
                    <div class="info">
                        <h1>@item.FullName</h1>
                        @if (item.Country != null && item.Country.Flag != null)
                        {
                            <div class="country-details">
                                <div>
                                    <img src="~/assets//uploads/@item.Country.Flag" class="country-flag">
                                </div>
                                <div>
                                    <h2 class="country-name">@item.Country.Name</h2>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="country-details">
                                <div>
                                    <img src="~/assets//uploads/clearflag.png" class="country-flag">
                                </div>
                                <div>
                                    <h2 class="country-name">Unknown</h2>
                                </div>
                            </div>
                        }
                        <div class="row">
                            @if (@item.Age == null)
                            {
                                <h2 class="coach_info">Unknown age</h2>
                            }
                            else
                            {
                                <h2 class="coach_info">Age: @item.Age</h2>
                            }
                            
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="kebab-menu">
                        <i class="more-icon glyphicon glyphicon-option-vertical" style="font-size: 16pt;" id="more-icon-@item.Id" onclick="openMenu(@item.Id)"></i>
                        <div class="menu-options" id="menu-options-@item.Id">
                            <ul>
                                <li class="nav-item">
                                    <a asp-action="Edit" asp-controller="Coach" asp-route-id="@item.Id">Editeaza</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Delete" asp-controller="Coach" asp-route-id="@item.Id">Sterge</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
	</div>
</body>
@section scripts {
    <script src="~/js/script.js"></script>
}