@using SummerCamp.DataModels.Models;
@model IEnumerable<TeamViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/team_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<button class="button-1" onclick="location.href='@Url.Action("Create", "Team")'">Create team</button>
 <h1 style="text-align: center">Teams</h1>
 <hr />

<div class="list">
    @foreach (var team in Model)
    {
        <div class="competition-view">
            <div class="row mx-0 p-0">
                <div class="column left" onclick="redirectToCompetitionDetails('@Url.Action("Details", "Team" , new { id = team.Id })')">
                    <h1 class="team-name">@team.Name (@team.NickName)</h1>
                    @if(team.Coach != null)
                    {
                        <h3>Coach: @team.Coach.FullName</h3>
                    }
                </div>
                <div class="column right">
                    <div class="kebab-menu">
                        <i class="more-icon glyphicon glyphicon-option-vertical" style="font-size: 16pt; padding-top: 10px" id="more-icon-@team.Id" onclick="openMenu(@team.Id)"></i>
                        <div class="menu-options" id="menu-options-@team.Id">
                            <ul>
                                <li class="nav-item">
                                    <a asp-action="Edit" asp-controller="Team" asp-route-id="@team.Id">Editeaza</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Delete" asp-controller="Team" asp-route-id="@team.Id">Sterge</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {
    <script src="~/js/script.js"></script>
    <script>
        function redirectToCompetitionDetails(url) {
            window.location.href = url;
        }
    </script>
}